/* Blog.css */

.blog-title {
  background: linear-gradient(90deg, #f59e0b, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-btn {
  background: linear-gradient(90deg, #f59e0b, #ef4444);
}