/* DisenoWeb.css */

.diseno-title {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.diseno-btn {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}